<% provide(:title, "About") %>
<!DOCTYPE html>
<html class="wow-animation" lang="en">
<head>
    <title>A Visual Menu</title>
  </head>
  <body style='padding-top: 0px;'>
    <div class='about-page'>
      <div class='about-header' style="padding-top: 50px;">
        <%= image_tag '/assets/vizhooels-primary-full-icon.svg', height: 60, alt: 'logo'%>
      </div>
      <div class='about-section'>
        <h2>CREATE DYNAMIC, VISUAL MENUS WITH A Visual Menu</h2>
        <div class='about-section-images'>
          <%= image_tag '/assets/about_menu_orig.jpg', alt: 'logo'%>
          <%= image_tag '/assets/plus.svg', class:'asi-small', alt: 'logo'%>
          <%= image_tag '/assets/about_instructions.jpg', alt: 'logo'%>
          <%= image_tag '/assets/equals.svg', class:'asi-small', alt: 'logo'%>
          <%= image_tag '/assets/menu-wall.png', alt: 'logo'%>
        </div>
        <p>
          We all know what it’s like to scroll through an online menu or physical menu that’s nothing but dish names
          and text descriptions. It works, but it’s certainly not ideal. How often have you wished you
          could pull up a picture of the items you’re interested in?
          As a restauranteur you understand better than most how powerful that would be. That one, single
          feature would endear your customers to you and draw in many more. If you ran the only pizza and sub
          shop in the area that featured a dynamic, fully-visual menu, people would favor you over the competition.
          And they would recommend you to friends.
          This is what you get with A Visual Menu (visuals). Easy to create, high-resolution,
          fully-visual menus that patrons can use both online and in restaurant. With no app download required.
          Your menu presents in their regular web browser. Read on to discover what this can do for your business.
        </p>
        <p>
          Everyone has a smartphone-why not take advantage
          of this to enhance your menu?
        </p>
      </div>

      <div class='about-section'>
        <h2>Easy to Set Up</h2>
        <p>
          The app features pre-built menu templates. Using our simple interface you’ll add your photos,
          sort menu items into categories, and add your prices. The entire process, from taking your photos
          to adding them to your visual menu can be done entirely with your smartphone. In nearly no time you
          can set up an exciting visual menu that your customers will love.
          And your menu can be updated whenever you like. Any time you add or remove menu items simply enter the
          app and make your changes. The new menu will be instantly accessible to your customers.
        </p>
        <p>
          Everyone has a smartphone-why not take advantage
          of this to enhance your menu?
        </p>
      </div>
      <div class='about-section'>
        <h2>Fully Searchable</h2>
        <p>
          Our dynamic visual menu is entirely filterable and searchable. If a customer only wants
          to see images of the different burgers you sell, they can do that. They can filter to see
          only dessert items, or menu items under a particular price. Your patrons will love the flexibility
          your visual menu will provide them.
        </p>
        <p>
          Everyone has a smartphone-why not take advantage
          of this to enhance your menu?
        </p>
      </div>
      <div class='about-section'>
        <h2>Add Your Visual Menu to Your Website</h2>
        <p>
          It’s easy to include a link to your menu on your website.
          This can be done in place of your normal online menu or as a
          complement to it. Having both will give your customers more options
          and let them search your menu however they prefer. Customers appreciate choice.
        </p>
        <p>
          Everyone has a smartphone-why not take advantage
          of this to enhance your menu?
        </p>
      </div>
      <div class='about-section'>
        <h2>Let Your Customers Instantly Connect While At Your Restaurant</h2>
        <p>
          We integrate NFC and QR Code technology to let customers quickly and easily pull up
          your visual menu on their cell phone while at your restaurant. Add a QR code to your
          physical menu. Then all a customer needs to do is scan it with their mobile device’s camera
          and your visual menu will appear in their phone’s browser. Or place an NFC tag on your counter, or at
          each table. Simply bringing their phone near the tag will load the menu on your customer’s phone.
        </p>
        <p>
          Both of these technologies make loading your visual menu incredibly simple. Your online visual menu becomes
          an instant extension of your physical menu. Customers could be browsing your paper menu and then quickly jump
          to your visual menu to see a picture of the dish they’re thinking about ordering. It gives them far more information
          than a printed menu, or most online menus can convey.
        </p>
        <p>
          Everyone has a smartphone-why not take advantage
          of this to enhance your menu?
        </p>
      </div>
      <div class='about-section'>
        <h2>Improving Your Customer’s Experience</h2>
        <p>
          Adding the option for your customers to see photographs of all your menu
          items increases their engagement with your offerings and improves their overall experience.
          It demonstrates that you take customer service seriously and that you want to do everything you
          can to win, and keep, their business.
        </p>
        <p>
          With the A Visual Menu app, creating a visual menu enhancement is easy and well worth the small financial
          and time investment. And right now you can try the app free for 14 days. Visit us at <a href="https://www.avisualmenu.com">A Visual Menu</a>
          to learn more.
        </p>
        <p>
          Everyone has a smartphone-why not take advantage
          of this to enhance your menu?
        </p>
      </div>
    </div>
<%# render 'layouts/footer' %>
</body>
