<% if @user %>
  <% provide(:title, @user.name) %>
  <%= render :partial => 'users/user_header/user_header' %>
  <%= render 'shared/back_to_top' %>
  <div>
    <div class="form-message">
      <% flash.each do |message_type, message| %>
        <p class="alert-<%= message_type %>"><%= message %></p>
      <% end %>
    </div>
    <div class="config-c row">
        <!--render :partial => "shared/search_option" %>-->
        <!-- render :partial => "shared/category_select_search" %> -->
    </div>
    <div class="menu-display-section">
      <%= render :partial=> "users/menu_display/menu_display" %>
      <%= render :partial=> "shared/dish_modal" %>
      <!--  render :partial=> "shared/search_fab" %> -->
    </div>
  </div>
 </div>

<% else %>
  <%= render :partial=> "shared/user_not_found_error" %>
<% end %>
