<!--The form partial for creating menu item on the home.html.erb file-->
<div class="micropost-form-container">
  <%= render 'shared/back_to_top' %>
  <div class='delete-micropost'>
    <%= link_to(@dish, method: :delete, data: { confirm: "Delete Category dish?" }, class: 'delete-micropost-btn') do %>
      <span class='material-icons'>delete</span>Remove
    <% end %>
  </div>
  <%= form_for(@dish, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class='form-component-pic-width'>
      <span class="picture form-component-c">
        <%= f.file_field :picture, class: 'fc-hide', id: 'file', accept: 'image/jpeg,image/gif,image/png' %>
        <label class='form-component fc-small fc-point' for="file">
        <% if @dish.picture.present? %>
          <img id='post-image' src= <%= @dish.picture %>>
        <% else %>
          <img id='post-image' src='/assets/upload_image.png'>
        <% end %>
        </label>
      </span>
    </div>
    <div class="field form-component-c">
      <%= f.text_field :name, placeholder: "Menu item title...", required: true, class: "form-component fc-small"  %>
      <%= render :partial => "shared/form_icon", :locals => {:icon => 'edit'} %>
    </div>
    <div class="field form-component-c">
      <div class="categories_select">
        <div class="select">
          <%= select_tag("category", options_from_collection_for_select(@categories, "id", "name"),
              :id => "categories_select") %>
        </div>
      </div>
   </div>
    <div class="field form-component-c">
      <%= f.text_field :price, placeholder: "Menu item price...", required: true, class: "form-component fc-small" %>
      <%= render :partial => "shared/form_icon", :locals => {:icon => 'attach_money'} %>
    </div>
    <div class="field form-component-c fc-big">
      <%= f.text_area :description, placeholder: "Menu item description...", required: true, rows: "3", class: "form-component fc-big" %>
      <%= render :partial => "shared/form_icon", :locals => {:icon => 'notes'} %>
    </div>
    <%= hidden_field_tag :category_id, @category_id %>
    <div class="field form-component-c fc-active ">
      <%= f.submit "Post", class: 'fc-hide', id: 'send' %>
      <label class='form-component fc-small fc-point' for="send">
        Submit
        <%= render :partial => "shared/form_icon", :locals => {:icon => 'send'} %>
      </label>
    </div>
  <% end %>

  <!--Checking the file size with jQuery.-->
  <script type="text/javascript">
    $('.fc-hide').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }else {
        var output = document.getElementById('post-image');
        output.src = URL.createObjectURL(event.target.files[0]);
      }

    });
  </script>
</div>
