<div class="search-option non-mobile">
  <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>
    <%= hidden_field_tag :user_id, @user.id %>
    <div class="input-group form-component-c">
      <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-component fc-small" %>
      <% if @category %>
        <%= hidden_field_tag :category, @category %>
      <% end %>
      <div class="form-component-btn-c">
        <%= button_tag "search", :class => 'material-icons category-search form-component-btn fcb-small fcb-hover', :name => nil %>
      </div>
    </div>
  <% end %>
</div>
