<!--
<div class="selected-menu-item-display" style="height: auto;">
  <div class="">
    <div class="row">
      <%# render :partial => "shared/back_button" %>
    </div>
    <div>
      <%= link_to @micropost.picture.url do %>
          <div class="row" style="position:relative;height: 100%;text-align: center;">
            <span >
            <%= image_tag @micropost.picture.url, class: "img-responsive", style:'top:0;left:0;right:0;bottom:0;margin:auto;' %>
            </span>
            <span>
              <div class="mp-info" style="color: dimgray; margin-top: 20px;background: black; position: relative;overflow: hidden;text-overflow: ellipsis;width: 90%;margin-left: 5%;">
                <%= @micropost.content %> | <%= number_to_currency(@micropost.price, :unit => "$")%>
                <br><p style="color:white;"><%= @micropost.description %>            hellooo</p>
              </div>
            </span>
          </div>
      <% end %>
    </div>
  </div>
</div>
<%# render 'layouts/footer' %>
--->
