<!--The representation of a menu item/micropost partial.-->
<!--Displayed in the feed.html.erb partial.-->
<li class="micropost" id="micropost-<%= micropost.id %>">
  <%= link_to micropost_edit_path(:category_id => micropost.category_id, :micropost_id => micropost.id, :edit_clicked => true), :class => 'micropost-action' do %>
    <div class='micropost-image-c'>
      <%= image_tag micropost.picture.url, class: "mp-image", id: "#{micropost.id}", alt: "#{micropost.description}", :data => {:title => micropost.content, :price => number_to_currency(micropost.price), :description => micropost.description, :id => micropost.id} %>
    </div>
    <div class='micropost-detail'>
      <p><%= micropost.content %></p>
      <span class='micropost-detail-price'><%= number_to_currency(micropost.price) %></span>
    </div>
  <% end %>
</li>
