<div>
  <%= render :partial => "shared/static/landing-page/land" %>
  <%= render :partial => "shared/static/landing-page/hook" %>
  <%= render :partial => "shared/static/landing-page/scan" %>
  <%= render :partial => "shared/static/landing-page/no_app" %>
  <%= render :partial => "shared/static/landing-page/clients" %>
  <%= render :partial => "shared/static/landing-page/footer" %>
</div>
