<!--This is the page the user sees when they click the home button.-->
<!--Basically the create menu item page-->
<% if logged_in? %>
  <% if @user %>
    <% provide(:title, @user.name) %>
    <%= render 'shared/back_to_top' %>
    <div class="menu-display-section">
      <div class="form-message">
        <% flash.each do |message_type, message| %>
          <p class="alert-<%= message_type %>"><%= message %></p>
        <% end %>
      </div>
      <%# render :partial=> "shared/create_category" %>
      <%# render :partial=> "users/menu_display/menu_board_unpublished" %>
      <%= render :partial=> "users/menu_display/menu_board" %>
      <%= render :partial=> "shared/dish_modal" %>
      <!-- < render :partial=> "shared/search_fab" %> -->
    </div>
  <% else %>
    <%= render :partial=> "shared/user_not_found_error" %>
  <% end %>
<% else %>
  <div class="center intro-page">
    <%= render :partial => "menu_boards/main_landing_page" %>
  </div>
<% end %>
<%# render 'layouts/footer' %>
