<nav id="app-navigation" class='app-navigation'>
<div class='app-navigation-close-bg'></div>
<% if logged_in? %>
  <p class='app-navigation-btn'><span id="app-navigation-btn" class='material-icons'>menu</span></p>
  <ul class='app-navigation-list'>
    <li>
      <span class='nav-link'>
        <%= link_to(root_path) do %>
          <span class='material-icons'>dashboard</span>
          Board
        <% end %>
      </span>
    </li>
    <li>
      <span class='nav-link'>
        <%= link_to(current_user) do %>
          <span class='material-icons'>local_dining</span>
          Menu
        <% end %>
      </span>
    </li>
    <li>

      <span class='nav-link'>
        <%= link_to(info_edit_path(:id => current_user.id), {:method => "get"}) do %>
          <span class='material-icons'>edit</span>
          Edit profile
        <% end %>
      </span>
    </li>
    <li>
        <span class='nav-link'>
          <%= link_to(logout_path, {:method => "delete"}) do %>
            <span class='material-icons'>exit_to_app</span>
            Log Out
          <% end %>
        </span>
    </li>
  </ul>
<% else %>
  <%= link_to "Log in", login_path %>
<% end %>
</nav>

  <script>
    window.onclick = function(event) {
      let modal = document.getElementById('app-navigation')
      let isModal =  document.getElementById('app-navigation-btn')
      let userModal = document.getElementById('#user-profile-modal')
    if (event.target == modal || event.target == isModal) {
      modal.classList.add('active')
    } else {
      modal.classList.remove('active')
    }
  }
</script>
