<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <% if logged_in? %>
      <div>
        <%= render 'layouts/header' %>
      </div>
      <div class="margin-top">
        <%= yield %>
        <%# debug(params) if Rails.env.development? %>
      </div>
    <% else %>
      <div class="no-margin-top">
        <%= yield %>
      </div>
      <%= debug(params) if Rails.env.development? %>
    <% end %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/script' %>
  </body>
</html>
